In [7]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

%matplotlib inline
plt.rcParams["figure.figsize"] = (15, 8)
pd.options.display.float_format = '{:.2f}'.format

from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('data/vk_users_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35517 entries, 0 to 35516
Data columns (total 18 columns):
political     5400 non-null float64
country       34114 non-null object
smoking       6264 non-null float64
sex           35517 non-null int64
id            35517 non-null int64
last_name     35517 non-null object
alcohol       6189 non-null float64
religion      6357 non-null object
langs         4624 non-null object
city          32524 non-null object
relation      14826 non-null float64
age           35517 non-null float64
verified      35517 non-null int64
bdate         29173 non-null object
first_name    35517 non-null object
university    14826 non-null float64
life_main     6239 non-null float64
posts         35517 non-null object
dtypes: float64(7), int64(3), object(8)
memory usage: 4.9+ MB

In [8]:
df_train, df_test = train_test_split(df, test_size=0.3)

In [9]:
df_train.head()

,political,country,smoking,sex,id,last_name,alcohol,religion,langs,city,relation,age,verified,bdate,first_name,university,life_main,posts
35147,nan,–°–®–ê,nan,1,8472929,Natasha,nan,NaN,NaN,Chicago,nan,66.00,0,17.7.1950,Natali,nan,nan,–Ω–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –ø—Ä–∞–≤–∏–ª)))\n–ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é –≤–∞—à–µ–º—É –≤–Ω–∏–º...
801,nan,–†–æ—Å—Å–∏—è,nan,2,143523733,–ö–∞–ª–∏–Ω–∏–Ω,nan,NaN,NaN,–ò–∂–µ–≤—Å–∫,nan,110.00,0,24.1,–î–º–∏—Ç—Ä–∏–π,nan,nan,–ü–æ–∫–∞ –î–∏–º–∞ –Ω–µ –ø—Ä–æ—Ç–∏–≤ \n–Ø –Ω–∞ –µ–≥–æ —Å—Ç–µ–Ω–µ –ø–æ—Å–∏–∂—É \n...
6000,nan,–†–æ—Å—Å–∏—è,nan,1,64085242,–ü–æ–ø–æ–≤–∞,nan,NaN,NaN,–†–µ–≤–¥–∞,nan,74.00,0,17.9,–ê–ª—ë–Ω–∞,nan,nan,"–ú–µ–Ω—è –≤—Å–µ–≥–¥–∞ —É–¥–∏–≤–ª—è–ª–æ, –∫–∞–∫ –Ω–µ–æ–∂–∏–¥–∞–Ω–Ω–æ–µ —Å—Ç–µ—á–µ–Ω–∏–µ..."
9052,nan,–£–∫—Ä–∞–∏–Ω–∞,nan,2,335527545,Ulanov,nan,NaN,NaN,–•–∞—Ä—å–∫–æ–≤,nan,66.00,0,21.10.1953,Anatoliy,nan,nan,–ó–∞—Ö–æ–¥–∏—Ç–µ –∏ \n–ü–æ–ª—É—á–∞–π—Ç–µ \n–æ—Ç –º–µ–Ω—è \n–≤ –ø–æ–¥–∞—Ä–æ–∫: ...
6106,nan,–†–æ—Å—Å–∏—è,3.00,2,260522138,–í–∞—Ä–¥–∞–Ω—è–Ω,3.00,NaN,"['–†—É—Å—Å–∫–∏–π', '’Ä’°’µ’•÷Ä’•’∂']",–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä,3.00,94.00,0,21.9.1924,–ï–≥–æ—Ä,0.00,1.00,‚ô§‚ô°‚ô§\n[id436173529|–≠–¥—É–∞—Ä–¥ –ê–ø—Ä–∏–∫—è–Ω] \n–£–¥–∞—á–Ω–æ —Å–ª—É...

In [10]:
df_test.head()

,political,country,smoking,sex,id,last_name,alcohol,religion,langs,city,relation,age,verified,bdate,first_name,university,life_main,posts
31988,nan,–†–æ—Å—Å–∏—è,nan,1,118616259,–°–æ–∫–æ–ª–æ–≤–∞,nan,NaN,"['–†—É—Å—Å–∫–∏–π', 'English', '–£–∫—Ä–∞—ó–Ω—Å—å–∫–∞']",–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,4.00,18.00,0,17.10.1999,–ê–Ω–∞—Å—Ç–∞—Å–∏—è,0.00,nan,"–ë–æ–ª–µ—é —Å–µ–π—á–∞—Å —Å–∏–ª—å–Ω–æ, –≤ —à—É—Ç–∫—É –Ω–∞–∑–≤–∞–ª–∞ —Å—Ç—Ä–∏–º ""—Å–æ..."
27728,nan,–£–∫—Ä–∞–∏–Ω–∞,nan,1,105935486,–ú–∏—â–µ–Ω–∫–æ,nan,NaN,NaN,–ê—Ö—Ç—ã—Ä–∫–∞,nan,110.00,0,11.7,–ê–Ω–∞—Å—Ç–∞—Å–∏—è,nan,nan,‚ùó‚ùó‚ùó‚ùó‚ùó‚ùó‚ùó‚ùó‚ùó\n–°–ø–∞—Å–∏–±–æ –≤—Å–µ–º –≤–∞–º –∑–∞ —Ç–∞–∫–æ–π –ø—Ä–µ–∫—Ä–∞—Å–Ω...
1195,nan,–£–∫—Ä–∞–∏–Ω–∞,nan,2,717510,–ú–∞–π,nan,–ª–∏–±–µ—Ä–∞–ª—å–Ω—ã–µ,NaN,–•–∞—Ä—å–∫–æ–≤,1.00,50.00,0,25.6.1969,–ó–∞—Ö–∞—Ä,158448.00,nan,"–ó–∞—Ö–∞—Ä, —Å–∫–æ–ª—å–∫–æ —Ç–µ–±–µ –ª–µ—Ç?\n–•–∞—Ä—å–∫–æ–≤\n–ö–∏–µ–≤: 22 —Å–µ..."
12990,nan,–†–æ—Å—Å–∏—è,nan,2,38056252,–ú–∞–ª–æ—Ä–æ–¥–Ω–∏–π,nan,NaN,NaN,–ú–æ—Å–∫–≤–∞,nan,86.00,0,27.4.1932,–í—è—á–µ—Å–ª–∞–≤,nan,nan,"–ë—ã–ª–æ,—Å—Ç–∞–ª–æ))\n–í–æ—Ç —Ç–∞–∫–∏–µ –¥–µ–ª–∞ üòí\n–ò–¥—ë—Ç –∫—Ç–æ-–Ω–∏—Ç—å?..."
2796,nan,–†–æ—Å—Å–∏—è,nan,2,23162402,–ö–æ—Ä–Ω–µ–ª—é–∫,nan,NaN,NaN,–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫,nan,26.00,0,19.3.1992,–ê–ª–µ–∫—Å–µ–π,nan,nan,–í–Ω–∏–º–∞–Ω–∏–µ! –ü–µ—Ä–µ–¥ –≤–∞–º–∏ —Å–∞–º—ã–π –∫–æ–≤–∞—Ä–Ω—ã–π –º–æ—à–µ–Ω–Ω–∏–∫ –∏...